/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
body{
  text-align: center !important;
}
h1{
  text-align: center !important;
  font-family: 'Permanent Marker', cursive !important;
  font-size: 60px !important;
  /*margin-bottom: -.5em !important;*/
}
h2{
  text-align: center !important;
}
h3{
  text-align: center !important;
}
th{
  text-align: center !important;
}
form{
  display: inline !important;
}
li{
  list-style: none !important;
}
#receipt{
  border-style: dotted !important;
  max-width: 20.5em !important;
}
a{
  color: black !important;
  text-decoration: none !important;
}
a:hover{
  color: red !important;
}
.container{
  margin-top: .5em !important;
}
#pay-button{
  margin-top: .3em !important;
  margin-bottom: 1em !important;
}
/*.table-responsive{
    overflow-x: auto;
}*/

/*@media (max-width: 360px) and (max-width: 1024px){
  .container{
    width: 30% !important;
    text-align: center !important;
  }
}
*/


.color1{
  background: green;
}

.color2{
  background: yellow;
}

.color3{
  background: orange;
}

.color4{
  background: red;
}
